- if user_signed_in?
  .user
    .user__side
      .user__side__menu
        =link_to "トップページ","/",class:"link"
      .user__side__menu
        =link_to "マイページ","#",class:"link"
      -# .user__side__menu
      -#   =link_to "お気に入り商品一覧","#",class:"link"
      .user__side__menu
        =link_to "出品する","/items/new",class:"link"
      -# .user__side__menu
      -#   =link_to "出品中の商品一覧","#",class:"link"
      -# .user__side__menu
      -#   =link_to "売却済の商品一覧","#",class:"link"
      .user__side__menu
        .set 　　　　　:各種設定:
      .user__side__menu
        =link_to "ユーザー関連情報編集","/users/edit",class:"link"
      .user__side__menu
        =link_to "出品情報編集","#",class:"link"
      .user__side__menu
        =link_to "クレジットカードの登録/削除", new_card_path,class:"link"
      .user__side__menu
        =link_to "ログアウト","users/sginout",class:"link"
    .user__body
      .user__body__bgc
        .userlisence
          .userlisence--title
            あなたのお名前
          .userlisence--name
            =@user.nickname
            -# = current_user.name
        .prof
          .prof__data
            登録日：#{current_user.created_at.strftime("%Y年%m月%d日")}
          -# .prof__data
          -#   現在の出品数：
          -# .prof__data
          -#   コメントされた数：
          -# .prof__data
          -#   コメントした数：
      -# .user__body__subtitle
      -#   最近出品した商品
      -# .user__body__lists
= render "share/footer"