a{text-decoration: none;}
.wrap{
  text-align: center;
  font-weight: bold;
  .link{
    background-color: #7fdedb;
    width: 123px;
    line-height: 48px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100%;
    #charge-form{
      background-color: red;
    }
  }
}