-# 参考サイトにパンクずのヒントがあったため一応記述しましたが今回はまだ使いません
-# .breadcrumbs
-#   .breadcrumbs__list
-#     =link_to "トップページ","/"
-#     = succeed "\u{5bb6}\u{96fb}\u{30fb}\u{30b9}\u{30de}\u{30db}\u{30fb}\u{30ab}\u{30e1}\u{30e9}" do
-#       %i.fa.fa-angle-right
-#     = succeed "\u{751f}\u{6d3b}\u{5bb6}\u{96fb}" do
-#       %i.fa.fa-angle-right
-#     = succeed "\u{6383}\u{9664}\u{6a5f}" do
-#       %i.fa.fa-angle-right
-#     %i.fa.fa-angle-right
-#     %span.current ロンパ君（お掃除ロボット）
.mainShow
  .mainShow__box
    .mainShow__box__content
      .mainShow__box__content__top
        .mainShow__box__content__top__itemBox
          %h2 ロンパ君（お掃除ロボット）
          .mainShow__box__content__top__itemBox__images
            %ul.image__main
              %li.image__main__list
                = image_tag "https://s3-ap-northeast-1.amazonaws.com/freemarket-sample-75a/uploads/image/image/9/robot_soujiki.png",class: "main__photo"
                .image__box
                  %ul.image__sub
                    %li.image__sub__list
                      =image_tag  "https://s3-ap-northeast-1.amazonaws.com/freemarket-sample-75a/uploads/image/image/9/robot_soujiki.png",class:"sub__photo"
          .mainShow__box__content__top__itemBox__price
            %span.price
              1,800
              円
            .mainShow__box__content__top__itemBox__price__detail
              %span
                (税込)
              %span
                送料込み
          .mainShow__box__content__top__itemBox__explanation
            部屋を自動でお掃除してくれるロボット、とても働き者だが何かいうたびに言い負かしてくるのでどなたかお譲りします
          .mainShow__box__content__top__itemBox__table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td koba
                %tr
                  %th カテゴリー
                  %td
                    = link_to "家電・スマホ・カメラ","#"
                    %br/
                    =link_to "生活家電","#"
                    %br/
                    =link_to "掃除機","#"
                %tr
                  %th ブランド
                  %td douson
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td 目立った傷や汚れなし
                %tr
                  %th 配送料の負担
                  %td 送料込み（出品者負担）
                %tr
                  %th 発送元の地域
                  %td
                    =link_to "東京都","#"
                %tr
                  %th 発送日の目安
                  %td ２〜４日で発送
          .mainShow__box__content__top__itemBox__option
            -# いいね、コメント機能はまだ封印します
            -# %ul#like
            -#   %li.like__list
            -#     =link_to ""
            -#       %i.fa.fa-star
            -#       お気に入り
            -#       0
            -# %ul.report
            -#   %li.report__list
            -#     =link_to "","#"
            -#       %i.fa.fa-flag
            -#       不適切な商品の通報
        .mainShow__box__content__top__editDeleteBuy
          =link_to "購入画面に進む","/purchase/buy",class:"pay"
        -# .mainShow__box__content__top__commentBox
        -#   .title
          -#   コメント一覧
          -# #comments.mainShow__box__content__top__commentBox__comments
          -# %form#comment_form.new_comment
          -#   %input
          -#   %input
          -#   %textarea#comment_comment.text_area
          -#   %p.note
          -#     相手のことを考え丁寧なコメントを心がけましょう。
          -#     %br>/
          -#     不快な言葉遣いなどは利用制限や退会処分となることがあります。
          -#     %br/
          -#   %input.comment_btn{"data-disable-with" => "コメントする", :name => "", :type => "submit", :value => "コメントする"}/
      -#   %ul.links
      -#     %li.links__before
      -#       =link_to "","#",class:"angle__left"
      -#         %i.fa.fa-angle-left
      -#         %span 前の商品
      -#     %li.links__after
      -#       =link_to "","#",class:"angle__right"
      -#         %span 後ろの商品
      -#         %i.fa.fa-angle-right
      -# .mainShow__box__content__related
      -#   =link_to"家電・スマホ・カメラをもっと見る","#",class:"related"
