// Place all the styles related to the roguinn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.background{
  display: flex;
  justify-content: center;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
}

.login-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group{
  width: 343px;
}

.form-require{
  background-color: red;
  color: #ffffff;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  font-size: 12px;
}

.input-default{
  height: 43px;
  width: 100%;
  margin-top: 5px;
}

.birthday-select-wrap{
  display: flex;
  align-items: center;
}
  
.select-default{
  height: 43px;
  width: 100px;
}