.totalitem {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
}

.totalsearch{
  margin-top: 50px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #3CCACE;
}