.card{
  height: 90vh;
  width: calc(100% - 250px);
  background-color: #f8f8f8;

  &__body {
    margin: 0 auto;

    &__title {
      font-size: 22px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 30px;
    }

    &__main {
      width: 400px;
      height: 240px;
      background-color: #ffffff;
      border-radius: 8px;
      border: 4px solid #3ccace;
      text-align: center;
      padding: 20px;
      box-sizing: border-box;
      margin: 0 auto;
      font-weight: bold;
      position: relative;

      &__title {
        font-size: 22px;
        border-bottom: 4px solid #3ccace;
        color: #3ccace;
        padding-bottom: 20px;
        margin-bottom: 40px;
      }

      &__data {
        font-size: 20px;
        margin-top: 10px;
      }
      img {
        height: 60px;
        position: absolute;
        right: 20px;
        bottom: 20px;
      }
    }
    .btn {
      height: 50px;
      width: 400px;
      background-color: #3ccace;
      color: #ffffff;
      display: block;
      margin: 20px auto;
      border: none;
      border-radius: 4px;
      font-size: 18px;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      line-height: 50px;
    }
  }
}